@import "tailwindcss";

@theme {
  --font-sans:
    "Barlow", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-display: "Bebas Neue", ui-sans-serif, system-ui, sans-serif;
}
